<div class="page">
    <form class="form" [formGroup]="form">
      <h2>Formulário</h2>
      <div class="input">
        <label for="descricao">Descrição: </label>
        <input
          type="text"
          name="descricao"
          formControlName="descricao" placeholder="*"
        />
      </div>
        <!--<span ngIf="form.get('descricao').pristine == false">Campo obrigatório</span>-->

      <div class="input">
        <label for="codigo">Código: </label>
        <input
          type="text"
          name="codigo"
          formControlName="codigo" placeholder="*"
        />
  
      <div class="input">
        <label for="isAtivo">Status: </label>
        <select
          name="isAtivo"
          formControlName="isAtivo"
        >
          <option style="border-radius: 20%; background-color: rgba(1, 255, 1, 0.37);" [ngValue]="true">
            Ativo</option
          ><option style="border-radius: 20%; background-color: rgba(255, 1, 1, 0.37);" [ngValue]="false">
            Inativo</option
          >
        </select>
        </div>
      <button class="bu" type="button" name="button" (click)="submitForm()">Salvar</button>
    <div class="preview">
    </div>